# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Data directories (should be copied or symlinked from https://github.com/tomatenquark/essential)
/data
/packages

# Executables
*.exe
*.out
*.app
tomaten_client
tomaten_server
native_client
native_server
